/* Header.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.logo img {
    width: 120px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
    font-weight: bold;
}

.profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #cfd8e2;
}
